<!DOCTYPE html>

<html lang="en">
<head>

{% load static %}
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Travelcosts</title>
{% load i18n %}

{% block head %}
    <link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet" property='stylesheet'>

   <!-- Custom CSS -->
    <link href="{%static 'css/freelancer.css' %}" rel="stylesheet" property='stylesheet'>
    {# common styles for the whole site #}
    <link href="{% static 'css/base.css' %}" rel="stylesheet" property='stylesheet'>
{% endblock %}
</head>
<body>

{% block content %}
    <section>
        <div class="container" style="width=50%">
            <form action="{% url 'register' %}" method="post" class="custom" >
                {{ form.as_p }}
                <div class="form-errors">
                    {{ user_form.non_field_errors }}
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="ad">

                            <h2>Register for free. </h2>
                        </div>
                    </div>
                    {% csrf_token %}

                    <div class="col-md-4">
                        <div class="form-field">
                            {{ user_form.first_name.label_tag }}
                            {{ user_form.first_name }}
                            <div class="field-errors">
                                {{ user_form.first_name.errors }}
                            </div>
                        </div>

                        <div class="form-field">
                            {{ user_form.last_name.label_tag }}
                            {{ user_form.last_name }}
                            <div class="field-errors">
                                {{ user_form.last_name.errors }}
                            </div>
                        </div>

                        <div class="form-field">
                            {{ user_form.email.label_tag }}
                            {{ user_form.email }}
                            <div class="field-errors">
                                {{ user_form.email.errors }}
                            </div>
                        </div>

                        <div class="form-field">
                            {{ user_form.country.label_tag }}
                            {{ user_form.country }}
                            <div class="field-errors">
                                {{ user_form.country.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-field">
                            {{ user_form.sex.label_tag }}
                            {{ user_form.sex }}
                            <div class="field-errors">
                                {{ user_form.sex.errors }}
                            </div>
                        </div>

                        <div class="form-field">
                            {{ user_form.password1.label_tag }}
                            {{ user_form.password1 }}
                            <div class="field-errors">
                                {{ user_form.password1.errors }}
                            </div>
                        </div>

                        <div class="form-field">
                            {{ user_form.password2.label_tag }}
                            {{ user_form.password2 }}
                            <div class="field-errors">
                                {{ user_form.password2.errors }}
                            </div>
                        </div>

                        <div class="form-field captcha">
                            {# use a custom captcha label tag #}
                            {% comment %}{{ user_form.captcha.label_tag }}{% endcomment %}
                            <label>""</label>
                            {{ user_form.captcha }}
                            <div class="field-errors">
                                {{ user_form.captcha.errors }}
                            </div>
                        </div>

                        <div class="form-field submit">
                            <input type="submit" class="buttons" value="Register"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    </body>
{% endblock %}