{% extends 'dashboard/template.html' %}
{% load static %}
{% load i18n %}


{% block head %}

{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <h2>Test</h2>
            <form action="{% url 'dashboard:new_cost' %}" method="post" class="custom">

                {{ form.as_p }}
                <div class="form-errors">

                </div>

                <div class="row">
                    {% csrf_token %}

                    <div class="col-md-6">
                        <div class="form-field">
                            {{ my_form.name.label_tag }}
                            {{ my_form.name }}
                            <div class="field-errors">

                            </div>
                        </div>

                        <div class="form-field">
                            {{ my_form.description.label_tag }}
                            {{ my_form.description }}
                            <div class="field-errors">

                            </div>
                        </div>
                        <div class="form-field">
                            <p><label for="location">Location:</label>
                            <input onclick="getLocation()" id="location" type="text" name="location" maxlength="200" /></p>
                        </div>

                    </div>

                    <div class="col-md-6">


                        <div class="form-field submit">
                            <input type="submit" class="buttons" value="Save"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script>
    var x = document.getElementById("location");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
        x.value = "Latitude: " + position.coords.latitude +
        " Longitude: " + position.coords.longitude;

        }
        </script>
{% endblock %}


