

{% block content %}
    <section>
        <div class="container">
            <form action="{% url 'save_travel' %}" method="post" class="custom">

                <div class="form-errors">
                    {{ user_form.non_field_errors }}
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="ad">
                            <p>'Join the future in <br/>retail business.'</p>

                            <p> 'Register for free.' </p>
                        </div>
                    </div>
                    {% csrf_token %}

                    <div class="col-md-4">
                        <div class="form-field">
                            {{ user_form.first_name.label_tag }}
                            {{ user_form.first_name }}
                            <div class="field-errors">

                            </div>
                        </div>

                        <div class="form-field">
                            {{ user_form.last_name.label_tag }}
                            {{ user_form.last_name }}
                            <div class="field-errors">

                            </div>
                        </div>

                        <div class="form-field">
                            {{ user_form.email.label_tag }}
                            {{ user_form.email }}
                            <div class="field-errors">
                                {{ user_form.email.errors }}
                            </div>
                        </div>

                        <div class="form-field">
                            {{ user_form.country.label_tag }}
                            {{ user_form.country }}
                            <div class="field-errors">
                                {{ user_form.country.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-field">
                            {{ user_form.sex.label_tag }}
                            {{ user_form.sex }}
                            <div class="field-errors">
                                {{ user_form.sex.errors }}
                            </div>
                        </div>

                        <div class="form-field">
                            {{ user_form.password1.label_tag }}
                            {{ user_form.password1 }}
                            <div class="field-errors">
                                {{ user_form.password1.errors }}
                            </div>
                        </div>

                        <div class="form-field">
                            {{ user_form.password2.label_tag }}
                            {{ user_form.password2 }}
                            <div class="field-errors">
                                {{ user_form.password2.errors }}
                            </div>
                        </div>

                        <div class="form-field captcha">
                            {# use a custom captcha label tag #}
                            {% comment %}{{ user_form.captcha.label_tag }}{% endcomment %}
                            <label for="id_captcha">'Please solve this riddle to prove that you are human:'</label>
                            {{ user_form.captcha }}
                            <div class="field-errors">
                                {{ user_form.captcha.errors }}
                            </div>
                        </div>

                        <div class="form-field submit">
                            <input type="submit" class="buttons" value="'Register'"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}